.header,
.footer {
	background: rgb(109, 158, 235);
	height: 40px;
}

.col-3 {
	height: calc(100vh - 40px);
	background: rgb(11, 83, 148);
	display: flex;
	order: 2; 
}

.aside {
	background: rgb(207, 226, 243);
	height: calc(100vh - 80px);
}

.wrapper {
  padding: 0;
}
